---
---

@import "{{ site.theme }}";

kbd {
    background: black;
    padding: 3px 5px;
    line-height: 10px;
    vertical-align: middle;
    border-radius: 6px;
}

img {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 0px;
}

table {
    border: 0px;
}

th {
    display:none;   
}

td {
    padding: 3px;
    border: 0px;
}

#forkme_banner {
    background: url(../images/blacktocat.png) #000000 no-repeat 95% 50%;
}
